*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    cursor: pointer;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}


.site-header{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.container{
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-bottom: 24px;
}

.nav__list{
    display: flex;
    gap: 50px;
}

.nav__link{
font-weight: 400;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color: rgb(137, 136, 136);
}

.header__nav{
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__actions{
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 20px;
}

.header__btn2{
    width: 231px;
    height: 68px;
    border-radius: 14px;
    gap: 10px;
}

.header__actions{
    display: flex;
    align-items: center;
    padding-left: 50px; 
}